---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.yl-header,
.yl-list-title{
    display: none !important;
}

.youmax{
    font-size: 12px !important;
    background: #FFF !important;
}


#center{
    width: 75%;
    display: block;
    margin: 0 auto;
}

#modalYoutube .yl-load-more-button{
    background: #FFF !important;
    border: none !important;
    box-shadow: none !important;
}

.logo img{
    display: block;
    margin: 0 auto;
    padding: 50px 0 0 0;
}


body{
    background: #FFF !important;
    cursor: default;
}


.navbar{
    text-align: center;
    padding: 15px 0 50px 0;
}

.navbar a{
    color: #222;
    padding: 0 10px;
    font-size: .8em;
}

.site-header{
    border-bottom: none !important;
    border-top: none !important;
}

.image{
    height: 50vh;
    width: 100%;
    background: #FAFAFA;
    text-align: center;
    padding-top: 30px;
    color: #FFF;
}

.post-content > p > img{
    display: none;
}

.post-header{
    padding-top: 10%;
    color: #FFF;
}

.post-title{
    font-size: 4em !important;
    text-shadow: 2px 4px 5px rgba(0,0,0, .5);
}

.post-content{
    line-height: 30px !important;
}

time[itemprop="datePublished"]{
    color: #FFF;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 30px;
}

article.post{
    max-width: 740px;
    display: block;
    margin: 0 auto;
    padding: 30px 0 0 0;
    text-align: justify;
}

#disqus_thread{
    margin-top: 100px;
    margin-bottom: 30px;
}


h1.page-heading{
    font-size: 1.5em;
    color: #CCC;
    text-align: center;
    font-weight: 400;
    opacity: .8;
}

.yl-wrapper{
    padding: 0 !important; 
}

.wrapper > .home{
    position: relative;
}

.fade{
    transform: rotate(180deg);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.yl-view-string{
    display: none !important;
}

.social-feed-container{
    height: 300px;
    width: 100%;
    text-align: center !important;
    margin-bottom: 80px;
}


.social-feed-element{
    height: 50%;
    width: 12.6%;
    display: inline-block;
    margin: 10px;
}

.social-feed-element .media-body div{
    display: none;
    margin-bottom: 5px;
}

.social-feed-element .muted,
.social-feed-element .content,
.social-feed-element .attachment{
    display: none;
}


.social-feed-element {
    background-size: cover;
    background-position: center;
    margin-top: 0 !important;
    display: inline-block !important;
    margin: 5px;
}

.post-content p{
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 1.58;
    letter-spacing: -.003em;
    font-weight: 100;
}


.image .voltar{
    position: absolute;
    left: 20px;
    top: 10px;
    cursor: pointer;
}

.image .voltar img{
    height: 50px;
}


.wrapper .home .post-list{
    max-height: 800px;
    overflow-y: hidden;
    margin-bottom: 50px;
    transition-duration: .3s;
}

.mostrarmais{
    display: none;
    margin: 0 0 0 auto;
    padding: 15px 20px;
    margin-top: -50px;
    font-size: .9em;
    border: none;
    background: #FFF;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 80px;
    opacity: .6;
}

#contato-form {
    text-align: center;
    margin-bottom: 100px;
}

#contato-form select{
    background: #FFF;
    color: #333;
    border: 1px solid;
    padding: 10px 20px;
    border-radius: 3px;
    margin-right: 15px;
    cursor: pointer;
}

#contato-form input{
    border: none;
    border-bottom: 1px solid;
    padding: 10px 5px;
    width: 30%;
    outline: none;
}

#contato-form button{
    padding: 10px 30px;
     background: #FFF;
    color: #333;
    border: 1px solid;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 700;
}


p.parceria {
    width: 420px;
    margin: 0 auto;
    font-size: 1.2em;
    text-align: center;
    font-weight: 100;
    color: #444;
}

p.parceria.email{
    font-size: 1.6em;
    font-weight: 800;
    color: #ba62f3;
    margin-top: 15px;
}

.parceria:last-of-type{
    margin-bottom: 50px;
}


.yl-load-more-button{
    display: block !important;
    margin: 0 auto !important;
    border: 1px solid !important;
    padding: 10px !important;
    width: 100% !important;
    background: #FAFAFA !important;
    font-size: 1em !important;
    border-radius: 3px !important;
    cursor: pointer !important;
    margin-bottom: 80px !important;
    position: relative !important;
    float: right !important;
    margin-bottom: 0 !important;
}

.post-list .title{
    width: 295px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.post-list li{
    background: #FAFAFA;
}

.hr{
    width: 100%;
    height: 1px;
    background: #DDD;
    margin-bottom: 50px;
}

.canal-svg{
    height: 150px;
    display: block;
    margin: 0 auto;
    margin-bottom: 80px;
    opacity: 1;
    transition-duration: .2s;
    position: absolute;
    z-index: 999;
    left: -250px;
    top: 0%;
}

.canal-svg.agenda{
    left: -130px;
    height: 100px;
}

.canal-svg.satty{
    border-radius: 50%;
    left: -80px;
    top: -50px;
    box-shadow: 2px 3px rgba(0,0,0, .4);
}


.youmax{
    transition-duration: .2s;
    display: block;
    overflow-y: scroll;
    height: 100%;
}

.dev{
    background: #f3f3f3;
    box-shadow: inset 0px 3px 15px rgba(0,0,0, 0.2);
    text-align: center;
    padding: 25px;
    font-size: .8em;
    color: #666;
}

.dev p{
    margin: 0;
}


.partc{
    position: absolute;
    z-index: -999;
    width: 100%;
}


.post-list li:after{
    background-color: #a35bff !important;
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.2));
}


.mostrarmais{
    transition-duration: .2s;
}

.mostrarmais:hover{
    color: purple;
}


.social {
    text-align: center;
    margin-bottom: 50px;
}


.social img {
    height: 40px;
    margin: 0 30px;
    opacity: .7;
    cursor: pointer;
    transition-duration: .2s;
}

.social img:hover{
    opacity: 1;
}


.overlay{
    position: fixed;
    height: 100%;
    background: rgba(0,0,0, .4);
    width: 100%;
    top: 0;
    left: 0;
}


#modalYoutube .modal-body::before{
    content: 'Youtube';
}
#modalAgenda .modal-body::before{
    content: 'Agenda';
}
#modalSobre .modal-body::before{
    content: 'Sobre';
}
#modalCosplay .modal-body::before{
    content: 'Cosplay';
}

#modalParceiros .modal-body::before{
    content: 'Parceiros';
}

.modal-body::before{
    position: absolute;
    top: -34px;
    background: #FFF;
    padding: 10px 20px;
    right: 0px;
    color: #333;
    border-radius: 4px;
    font-weight: 700;
}

#modalCosplay .dt{
    max-height: 70vh;
    overflow-y: scroll;
    padding: 20px 30px 20px 20px;
}

#modalCosplay .box,
#modalParceiros .box{
    margin-bottom: 20px;
}

#modalCosplay .dt .box img{
    height: 100px;
    border-radius: 40%;
    margin-right: 15px;
}

.modal-body{
    background: #FFF;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    padding: 10px 5px 10px 0;
}

#modalParceiros .modal-body{
    padding: 20px;
}



#modalParceiros .canal-svg{
    left: -150px;
}

#modalParceiros img{
    width: 100px;
    display: block;
    margin-bottom: 15px;
}

#modalParceiros .box:first-of-type{
    border-bottom: 1px solid #DDD;
    padding-bottom: 10px;
}

#modalYoutube .modal-body{
    height: 80vh;
}

#modalAgenda .modal-body,
#modalSobre .modal-body{
    width: 35%;
    padding: 10px 5px 10px 10px;
}

#modalAgenda .modal-body{
    width: 42%;
}

#modalSobre .modal-body{
    padding: 30px;
}

#modalSobre h1{
    text-align: center;
    font-size: 2em;
    font-weight: 300;
}

#modalParceiros p em{
    font-style: normal;
    font-weight: 800;
}

#modalSobre .modal-body h1{
    margin-left: 20px;
}

#modalAgenda .modal-body .dt{
    max-height: 60vh;
    overflow-y: scroll;
}

#modalAgenda .modal-body .box{
    margin: 20px 0;
    padding: 10px;
}

#modalAgenda .modal-body .box:not(:last-child){
    border-bottom: 1px solid #CCC;
}

#modalAgenda .modal-body p{
    display: inline-block;
    padding: 8px 20px 8px 0;
    font-size: 1.2em;
    color: #444;
    width: 190px;
}

#modalAgenda .modal-body span{
    font-weight: 100;
}

#modalAgenda .modal-body .data{
    display: inline-block;
    vertical-align: top;
    font-weight: 500;
}

#modalAgenda .modal-body .detalhes{
    display: inline-block;
    margin-left: 20px;
    padding-top: 10px;
}

body::-webkit-scrollbar {
    width: 6px;
}

#modalYoutube .modal-body .youmax::-webkit-scrollbar {
    width: 6px;
}

#modalAgenda .modal-body .dt::-webkit-scrollbar {
    width: 6px;
}

#modalCosplay .modal-body .dt::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #FFF;
}

::-webkit-scrollbar-thumb {
    background: #DDD;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(100,100,100,0.4); 
}


.yl-item-wrapper{
    width: calc(100% / 3.3);
    display: inline-block !important;
    margin: 10px !important;
}

@media screen and (max-width: 1366px){
    .yl-item-wrapper{
        width: 280px !important;
        display: inline-block !important;
        margin: 10px !important;
    }
}

.post-image{
    height: 180px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.post-list img{
    opacity: 0;
}

.post-list li.first {
    display: block !important;
    width: 95% !important;
    margin: 10px auto 30px auto !important;
    padding: 0;
    
}

.post-list li.first .post-meta{
    color: #FFF;
    text-shadow: 0px 1px 3px #000;
}


.post-list li.first .post-image{
    position: relative;
    display: inline-block;
    float: left;
    width: 50%;
    margin-right: 20px;
}

.post-list li.first .title{
    font-size: 2.4em;
    width: 45%;
}

.post-list li.first .post-image{
    height: 250px;
}

.post-list li.first  .bpreview{
    height: 190px;
    padding: 30px 20px 30px 0;
}



.post-list li{
	animation: fadein .9s;
	-webkit-animation: fadein .9s;
	animation-iteration-count: .9s;
	-webkit-animation-iteration-count: 1;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
    width: 310px;
}



@-webkit-keyframes fadein {
   0% {
    opacity: 0;
	margin-bottom: 60px;
  }
  100% {
    opacity: 1;
	margin-bottom: 0;
	margin-bottom: 20px;
  }
}


#center, .dev{
    display: none;
}


body{
    font-family: 'Ubuntu', sans-serif;
}

.flower{
    position: absolute;
    height: 240px;
    top: -46px;
    left: -30px;
    z-index: -999;
    opacity: 0.3;
    transform: rotate(95deg);
}

.modal a{
    color: #9e048a;
}


.close {
    position: absolute;
    color: #FFF;
    top: -33px;
    right: -45px;
    font-size: 1.5em;
    font-weight: 800;
    cursor: pointer;
    border: none;
    background: transparent;
}


.hamburg{
    display: none;
}

@media screen and (max-width: 480px){
    
    .hamburg{
        display: block;
        height: 100%;
        width: 30px;
        display: block;
        margin: 0 auto 20px auto;
    }
   
    .logo img{
        width: 90%;
        padding: 20px 0 0 0;
    }
    
    .navbar{
        display: none;
    }
    
    .mostrarmais{
        margin: 0 auto 30px auto;
    }
    
    .social-feed-element{
        width: 45%;
    }
    
    #center{
        width: 95%;
    }
    
    .post-list li{
        width: 100%;
    }
    
    .wrapper{
    	max-width: 100% !important;
        width: 100%;
        padding: 0;
    }
    
    .post-list > a{
        margin: 0;
    }
    
    .post-list li{
        padding: 200px 0 40px 0;
        margin: 0 !important;
        box-shadow: none;
    }
    
    
    .home{
        padding: 0 10px;
    }
    
    .social-feed-container{
        height: 100%;
    }
    
    .social-feed-element{
        height: 150px;
    }
    
    #contato-form #assunto, 
    #contato-form input,
    #contato-form button{
        display: block;
        width: 100%;
        margin: 30px 0;
    }
    
    #contato-form input{
        padding: 10px 0;
    }
    
    .social img {
    height: 30px;
    margin: 0 10px;
    }
    
    .page-content{
        padding: 0;
    }
    
    .wrapper .home .post-list,
    #contato-form{
        margin-bottom: 0;
    }
    
    p.parceria{
        font-size: 1.3em;
    }
    
    .navbar a {
        color: #222;
        padding: 0 10px;
        font-size: 1em;
        display: block;
        margin: 15px 0;
    }
    .modal-body::before{
        display: none;
    }
    
     .modal-body{
         height: 65vh !important;
         width: 95% !important;
     }
     
     .canal-svg{
         display: none;
     }
     
     .close{
         right: 0;
     }
     
     #modalCosplay .dt{
         max-height: 90%;
         padding: 10px;
    font-size: .8em;

     }
     
     #modalCosplay .dt .box img{
         height: 70px;
     }
     
     #modalAgenda .modal-body .box{
         margin: 5px 0;
         padding: 0 5px;
     }
     
     #modalAgenda .modal-body p {
        display: block;
        padding: 0;
        font-size: 1em;
        color: #444;
        width: 100%;
        margin: 0;
    }
    
    #modalAgenda .modal-body .detalhes {
        display: block;
        margin-left: 0;
        padding: 0 0 10px 0;
        width: 100%;
    }
    
    article.post {
        width: 95%;
        display: block;
        margin: 0 auto;
        padding: 30px 0 0 0;
        text-align: justify;
    }
    
    p.parceria{
        width: 100%;
        font-size: 1em !important;
    }
    
    #modalSobre .modal-body{
        width: 65;
    }
    
    #modalSobre .close{
        right: 22px;
    }
    
    #modalSobre p{
        
        font-size: 0.9em;
        font-weight: 100;
        text-align: justify;
    }
    
    .post-title{
        font-size: 3em;
    }
}