---
layout: default
---


<div class="home">

  <h1 class="page-heading">BLOG</h1>
  
  {{ content }}

  <ul class="post-list" hidden>
    {% for post in site.posts %}
      <a class="post-link" href="{{ post.url | relative_url }}">
        <li>
          <div class="post-image"></div>
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
           <div class="bpreview">
             <p class="title">{{ post.title }}</p>
             {{ post.excerpt }}
           </div>
        </li>
      </a>
    {% endfor %}
  </ul>

  <div class="fade"></div>

</div>
