---
comments: true
---

{% include head.html %}

<div class="image">
  <div class="voltar">
    <img src="/assets/img/back.png"></img>
  </div>
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
         <!--dia-->
          {{ page.date | date: "%-d" }} 
          de
          <!--mês-->
          {% assign m = page.date | date: "%-m" %}
          {% case m %}
            {% when '1' %}Janeiro
            {% when '2' %}fevereiro
            {% when '3' %}Março
            {% when '4' %}Abril
            {% when '5' %}Maio
            {% when '6' %}Junho
            {% when '7' %}Julho
            {% when '8' %}Agosto
            {% when '9' %}Setembro
            {% when '10' %}Outubro
            {% when '11' %}Novembro
            {% when '12' %}Dezembro
          {% endcase %} 
          de
          <!--ano-->
          {{ page.date | date: "%Y" }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header>
</div>
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div id="disqus_thread"></div>
  
</article>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>


<script>
  $('.image').css({'background-image' : 'url(' + $('.post-content > p > img').attr('src') + ')', 'background-repeat' : 'no-repeat', 'background-size' : 'cover'});
</script>





<script>

$(document).ready(function(){
        $('.voltar').on('click', function(){
          document.location.href="https://devsatty.github.io";
      });
});

var disqus_config = function () {
this.page.url = 'https://marianadelveccio.com.br';  // Replace PAGE_URL with your page's canonical URL variable
//this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://marianadelveccio.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                      
<script id="dsq-count-scr" src="//marianadelveccio.disqus.com/count.js" async></script>          